* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 133px;
}

#grid {
  width: 600px;
  height: 600px;
  display: grid;
  background-color: white;
  outline: solid 3px black;
}

.painted {
  background-color: black;
}
